{% extends "base.html" %} {% block title %}Legal information{% endblock %} {% block content%}
<br>
<h3 class="text-center">Legal Notice</h3>
<br>
<ul class="legal-section">
    <li>
      <p><strong>Site owner:</strong></p>
      <ul class="legal-info">
        <li>Name: ....</li>
        <li>Email: .....</li>
      </ul>
    </li>
    <br>
    <li>
      <p><strong>Website host:</strong></p>
      <ul class="legal-info">
        <li>Name: <a href=""></a></li>
        <li>Contact: ...</li>
      </ul>
    </li>
    <br>
    <li>
      <p><strong>External links:</strong></p>
      <ul class="legal-info">
        <li>This site may contain links to external sites. The owner has no control over the content of these sites and accepts no responsibility for their content or practices.</li>
      </ul>
    </li>
    <br>
    <li>
      <p><strong>Data collection:</strong></p>
      <ul class="legal-info">
        <li>This site does not collect personal data, nor does it use tracking cookies or other tracking technologies.</li>
      </ul>
    </li>
    <br>
    <li>
      <p><strong>Last update:</strong></p>
      <ul class="legal-info">
        <li>This legal notice was last updated on 24/08/2023.</li>
      </ul>
    </li>
    <br>
    <li class="contact-info">
      <p><strong>Contact:</strong></p>
      <ul class="legal-info">
        <li>If you have any questions about this legal notice, please contact us at ... .</li>
      </ul>
    </li>
  </ul>
{% endblock %}